body {
	background-color:  black;
	margin: 0;
	padding: 0;
}

main {
	height: auto;
	width: 100vw;
	margin-bottom: 2em;
	text-align: center;
}

main::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../images/artaphine-artwork-2.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:  cover;
	opacity: .45;
	z-index: -1;
}

#logo {
	width: 50vw;
	max-width: 10em;
	margin: 2em auto;
}

ul {
	list-style-type: none;
}

a {
	display: inline-block;
	padding: 1em;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: .1s ease-in-out;
}

.st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;}
.st1{fill:#FFFFFF;}

#socials {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	max-width: 20em;
	margin: auto;
}

#socials li:not(:last-of-type) {
/*	margin-right: 1rem;
*/}

#socials a {
	padding: 0;
	margin-bottom: 1rem;
}

#socials a:hover svg,
#socials a:focus svg,
#socials a:active svg {
	transform: scale(1.1);
}

#socials a:hover .st0,
#socials a:focus .st0,
#socials a:active .st0 {
/*	fill: black;
*/}

#socials svg {
	width: 2rem;
	height: 2rem;
	transition: .1s ease-in-out;
}

#links a:hover,
#links a:focus,
#links a:active {
	color: black;
	background: white;
}

#links {
	margin: 0;
	padding: 0;
	max-width: 20em;
	margin: auto;
}

#links li {
	border: 1px solid white;
	text-align: center;
}

#links li:not(:last-of-type) {
	margin-bottom: 1em;
}