body {
	background-color:  black;
	margin: 0;
	padding: 0;
}

main {
	height: auto;
	width: 100vw;
	margin-bottom: 2em;
	text-align: center;
}

main::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../images/artaphine-artwork-2.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:  cover;
	opacity: .45;
	z-index: -1;
}

svg {
	width: 50vw;
	max-width: 10em;
	margin: 2em auto;
}

a {
	display: inline-block;
	padding: 1em 0;
	width: 100%;
	color:  white;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: .1s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: black;
	background: white;
}

ul {
	margin: 0;
	padding: 0;
	max-width: 20em;
	margin: auto;
}

li {
	border: 1px solid white;
	text-align: center;
}

li:not(:last-of-type) {
	margin-bottom: 1em;
}